html {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #E4E9EC;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    color: #875F59;
    font-size: 50px;
    text-transform: uppercase;
}

ul, li {
    text-decoration: none; 
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin: 0 auto;
    background-color: #875F59;
}

button {
    background-color: #180804;
    width: 300px;
    padding: 20px;
    font-size: 20px;
    border: solid #180804;
}

a {
    text-decoration: none;
    color: #E4E9EC;
}


.container {
    background-color: #C1B0A6;
    text-align: center;
    width: 500px;
    padding: 100px;
    margin: 0 auto;
}